body {
  margin: 0;
  font-family: Montserrat SansSerif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2B4686;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

button {
  background-color: #C89530;
  border: none;
  border-radius: 5%;
  font-family: Montserrat SansSerif;
  margin: 0 5px;
  font-size: 20px;
  font-weight: 600;
  padding: 2px 5px;
  cursor: pointer;
}

button:hover {
  background-color: #FFD840;
}

button:active {
  opacity: 0.8;
}

ul {
  min-height: 150px;
}

li {
  margin: 10px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
